@require '_partials/_variables'

body, html
  padding: 0
  margin: 0
  height: 100%

.page-wrapper
  position: relative
  height: 100%
.container
  height: 100%
  overflow: hidden
.panel
  position: absolute
  background-color: #ccc
  height: 100%
  width: 50%
  box-sizing: border-box
  top: 0
  transition: all 0.2s ease
  padding: 20px
  overflow: scroll
  &.active
    box-shadow: 0 0 15px #3c3c3c
    width: 75%
    z-index: 2
  &:not(.active)
    .overlay
      display: block
  &.panel-left
    left: 0
    .panel-content-container
      float: right
  &.panel-right
    right: 0
    .panel-content-container
      float: left

  .panel-content-container
    width: 700px
    .overlay
      position: absolute

  &.panel-right
    .events
      margin: 0
      padding: 0
      .event
        list-style: none
