@require '_partials/_variables'

body, html
  padding: 0
  margin: 0
  height: 100%

ul, li
  list-style: none
  margin: 0
  padding: 0

.panel-left
  position: absolute
  width: 400px
  height: 100%
  background-color: #ccc
  z-index: 3

.main-section
  position: absolute
  padding-left: 400px
  width: 100%
  height: 100%
  box-sizing: border-box
  overflow-y: scroll
  z-index: 1
  .events-list-container
    padding: 20px 20px 85px
  .events-options
    position: fixed
    bottom: 0
    width: 100%
    left: 0
    text-align: right
    background-color #bbb
    z-index: 2
    padding: 15px 20px
    box-sizing: border-box
