script(src="/assets/bower_components/jquery/dist/jquery.min.js")
script(src="/assets/bower_components/jquery-mask-plugin/dist/jquery.mask.min.js")
script(src="/assets/bower_components/underscore/underscore-min.js")
script(src="/assets/bower_components/backbone/backbone-min.js")
script(src="/assets/js/application.js")
