script(type="text/template")#event-template
  div.event-image-container
  div.event-info
    h3.name!= '<%= name %>'
    p.description!= '<%= description %>'
    div.event-info-footer
      span.price!= '<%= price %>'
      span.date!= '<%= scheduled_date %>'
