extends /base

block append css
  link(rel="stylesheet" href="assets/css/pages/index/index.css")

block container
  secion#app-container
  include ./_app-template
  include ./_new-event-template.jade
  include ./_events-list-template.jade
  include ./_event-template.jade
